body{
    background-color: #cce0ff;
    width: 100%;
}
#logo {
    height: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#title{
    text-align: center;
    background-color: lightblue;
}

form {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
#banner {
    text-align: center;
    background-color: currentColor;
    margin-left: 25%;
    width: 50%;
}

#header {
    width: 100%;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline;
    padding: 10px;
    background-color: white;
}

#navbar li:hover {
    background-color: black;
    color: white;
}
#ex {
    text-align: center;
}

#stat_view {
    /* Rather than absolute, just built it from the left */
    /* position: absolute; */
    /* left: 500px; */
    float: left;
    display: none;
    padding: 0px;
    margin: 0px;
    width: 20%;
    max-width: 250px;
    min-width: 100px;
}

#stats_img {
    height: 600px;
}

#content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#editor {
    width: 80%;
    float: left;
    min-width: 600px;
    max-width: 99%;
    height: 100%;
    margin-right: 10px;
    /* float: left; */
    height: 10em;
}

#editorarea {
    width: 95%;
    height: 100%;
}

table {
    border: 1px solid black;
    width: 100%;
}

td {
    width: 100%;
    border: 1px solid black;
    margin-right: 0px;
    padding-right: 0px;
}
